<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:components, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:components, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:components, :edit, :id => @component.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :component, url(:components, :update, :id => @component.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'components/form', :locals => { :f => f } %>
  <% end %>
</div>
