<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:components, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:components, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :component, url(:components, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'components/form', :locals => { :f => f } %>
 <% end %>
</div>
