<!-- locals: competitions, scores -->

<%= partial '/competitions/competition_info', locals: {competition: competition} %>
<!-- %= partial '/scores/list', locals: {scores: scores, paginate: true} % -->

<h2>Scores</h2>
<%= partial :"/scores/list", locals: {scores: competition.scores} %>
