<!-- locals: score_filter_forms, scores -->

<h2>Score List</h2>

<!-- form -->
<% form_tag(url_for(:scores, :list), method: 'post') do %>

<% score_filter_forms.each do |form| %>
<%= partial :select_form, locals: {tag: form[0], options: form[1]} %>  
<% end %>
<%= partial :submit_form %>

<% end %>

<!-- list -->
<%= partial 'scores/list', locals: {scores: scores, paginate: true} %>

<!-- pagination -->
<% page = (params[:page].presence || 1).to_i %>



