<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:scores, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:scores, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:scores, :edit, :id => @score.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :score, url(:scores, :update, :id => @score.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'scores/form', :locals => { :f => f } %>
  <% end %>
</div>
