<!-- locals: records, controller, page  -->

<% per_page = (settings.config[:list][:per_page]|| 20).to_i %>
<% page = (params[:page].presence || 1).to_i %>
<% max_pages = ((records.count - 1) / per_page).to_i + 1 %>

<ul class="pagination">
  <% 1.upto(max_pages).each do |i| %>
    <% active = (i == page) ? "active" : "" %>
    <li class="page-item <%= active %>">
      <%= link_to(i, url_for(controller, :list, params_to_query(params.merge(page: i), controller))) %>
    </li>
  <% end %>
</ul>
