<!-- locals: tag, options -->

<div class="form-group row">
  <div class="col-sm-2">
    <%= label_tag(tag) %>
  </div>
  <div class="col-sm-10">
    <%= select_tag(tag, options: ['', options].flatten, selected:options.include?(params[tag]) ? params[tag] : '') %>
  </div>
</div>
