

<ul>
  <li><%= link_to("sample", "http://tk2-201-10287.vs.sakura.ne.jp:3000") %></li>
  <li><%= link_to("github",  "https://github.com/atarukodaka/fisk8_score_viewer") %></li>
</ul>

comitter: <%= link_to("Ataru KODAKA", "http://twitter.com/ataru_kodaka") %>
